.form {
    border-radius: 10px;
    background: var(--white);
    display: flex;
    flex-direction: column;

    gap: 10px
}

.form-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.form-title {
    color: var(--black-accent);
    font: var(--text-header)
}
