<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>{% block title %}{% endblock %}</title>
            <script type="module" src="/js/ajax.js" defer></script>
        {% endblock %}
    </head>
    {% include 'base-components/header.twig' %}

    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
