{% extends 'base.html.twig' %}

{% block title %}
    BoostLanguage
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <p>Добро пожаловать в BoostLanguage</p>
{% endblock %}
