{% extends 'base.html.twig' %}

{% block title %}На странице постов{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/general.css">
    <script type="module" src="/js/post/post.js" defer></script>
{% endblock %}

{% block body %}
    <div>
        <p>
            Новый пост
        </p>

        {% include "/base-components/input-base.twig" with {
            id: "authorId",
            type: "authorId",
            value: authorId,
            placeholder: "",
            name: "authorId",
            class: "hidden",
            autocomplete: "",
        } %}

        {% include "/base-components/input-base.twig" with {
            id: "title",
            type: "title",
            value: title,
            placeholder: "Введите заголовок поста",
            name: "title",
            class: "",
            autocomplete: "",
        } %}

        {% include "/base-components/input-base.twig" with {
            id: "body",
            type: "body",
            value: body,
            placeholder: "Начните писать ваш пост",
            name: "body",
            class: "",
            autocomplete: "",
        } %}

         <button id="create-post">
             Опубликовать пост
         </button>
    </div>


{% endblock %}