{% extends 'auth_base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block head %}
    {{ parent() }}
    <script type="module" src="../../public/js/auth/login.js" defer></script>
{% endblock %}

{% block content %}
    <div id="login-form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="form__title">Войти</h1>
        <div class="form__inputs">
            <input id="" type="email" value="{{ last_username }}" name="email" class="form__input" autocomplete="email" >
            <input type="password" name="password" class="form__input" autocomplete="current-password" >
        </div>

        <input id="token" type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="form__submit" type="submit">Войти</button>
        <button id="switch-register">Зарегестрироваться</button>
    </div>

    <div id="register-form" class="hidden">

    </div>

{% endblock %}