<div class="form" id="{{ id }}">
    <h1 class="form-title">Войти</h1>
    <div class="">
        {% include "/base-components/input-base.twig" with {
            id: "email",
            type: "email",
            value: "",
            placeholder: "Email",
            name: "email",
            class: "",
            autocomplete: "email",
        } %}

        {% include "/base-components/input-base.twig" with {
            id: "password",
            type: "password",
            value: "",
            placeholder: "Пароль",
            name: "password",
            class: "",
            autocomplete: "current-password",
        } %}
    </div>
    <input id="_csrf_token" type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class="button" id="login" type="submit">Войти</button>
    <button class="button" id="login-switch">Регистрация</button>
</div>